*{
    padding: 0;
    margin:0;
}
:root{
    --lightpink:white;
    --darkpink:rgb(153, 0, 89);
}

#bar{
    background-color: var(--darkpink);
    padding: 5px 5px;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightpink);
    padding:20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
     padding: 0 20px;
     position: relative;
}


#navbar li a {
    text-decoration: none;
    color:  black;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover{
    color:var(--darkpink)
}

#navbar li a:hover::after{
    content:"";
    width: 30%;
    height:2px;
    background-color: var(--darkpink);
    position: absolute;
    bottom:-4px;
    left:20px;
}

.HOMe::after{
    content:"";
    width: 50%;
    height:2px;
    background-color: var(--darkpink);
    position: absolute;
    bottom:-4px;
    left:20px;
}

.mobile{
    display: none;
}

.mobile i{
    color:black;
}

@media screen and (max-width:769px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start ;
        position:fixed;
        top:120px;
        right:-300px;
        width:300px;
        height:50vh;
        background: var(--darkpink);
        box-shadow: 0 40px 60px rgba(0,0,0,0);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out ;
    }

    #navbar.active{
        right:0px;
        z-index: 1;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    .mobile{
        display: block ;
    }

    .mobile i{
        font-size:24px;
        cursor:point;
         
    }
    
}